doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title pageTitle
        link(rel="stylesheet", href="css/main.css")
    body
        .menu
            .container
                ul.menu__list
                    li.menu__item.menu__item--first About
                    li.menu__item Work
                    li.menu__item Contact
                    li.menu__item Ball
        .header
            .container
                h1 Header kjetil Gjersvold
            
        .container
            h1 kjetil Gjersvold
        
        script(src="js/min/main-min.js")
        script(src="js/min/jquery-1.12.0.min.js")