doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="theme-color", content="#123349")
        meta(name="author", content="Agne Ødegaard")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name="format-derection", content="telephone=no")
        title KjetilGjersvold.com
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    body
        .menu
            .col-md-8.col-sm-10.col-md-push-2.col-sm-push-1
                ul.menu__list
                    li.menu__item.menu__item--first Home 
                    li.menu__item Work
                    li.menu__item Contact
                    li.menu__item Ball
        .header
            .col-md-8.col-sm-10.col-md-push-2.col-sm-push-1
                h1 Welcome to my Portfolio!
            
        .col-md-8.col-sm-10.col-md-push-2.col-sm-push-1
            h2 My Latest Work
            .row
                .col-md-10.col-push-1.col-lg-6
                    .card
                        .card__video
                            video(autoplay, loop, muted, preload, poster="img/torbot1.jpg")
                                source(src="video/placeholder.mp4")
                        .card__description
                            h3 Bird Waggle
                            p BIRD! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio esse dolorum tempore libero atque mollitia autem ut suscipit a, corporis provident, possimus expedita rem repellendus omnis officiis, explicabo tempora voluptatibus.
                        .card__btbContainer 
                            a(href="#").btn View more
            
                .col-md-10.col-push-1.col-lg-6
                    .card
                        .card__header(style="background-image: url('img/torbot1.jpg');")
                        .card__description 
                            h3 Torbot 1
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio esse dolorum tempore libero atque mollitia autem ut suscipit a, corporis provident, possimus expedita rem repellendus omnis officiis, explicabo tempora voluptatibus.
                        .card__btbContainer 
                            a(href="#").btn View more

                .col-md-10.col-push-1.col-lg-6
                    .card
                        .card__header(style="background-image: url('img/torbot2.jpg');")
                        .card__description
                            h3 Torbot 2
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio esse dolorum tempore libero atque mollitia autem ut suscipit a, corporis provident, possimus expedita rem repellendus omnis officiis, explicabo tempora voluptatibus.
                        .card__btbContainer 
                            a(href="#").btn View more

                .col-md-10.col-push-1.col-lg-6
                    .card
                        .card__header(style="background-image: url('img/torbot3.jpg');")
                        .card__description 
                            h3 Torbot 3
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio esse dolorum tempore libero atque mollitia autem ut suscipit a, corporis provident, possimus expedita rem repellendus omnis officiis, explicabo tempora voluptatibus.
                        .card__btbContainer 
                            a(href="#").btn View more
        
        script(src="js/min/main-min.js")
        script(src="js/min/jquery-1.12.0.min.js")